.panel{:name => "accounts"}
  .container
    .contain
      %p.header Accounts
      %h1 suttff
      %h1 suttff
      %h1 suttff
      %h1 suttff
      %h1 suttff
      %h1 suttff
      %h1 suttff
      %h1 suttff
      %h1 suttff
      %h1 suttff
      %h1 suttff
      %h1 suttff