.panel{:name => "dsac"}
  .container
    .contain
      %p.header DSAC
      %p.text 
        The Departmental Student Advisory Committee consists of five undergraduate CS people who are each year either elected by popular vote or chosen through absolutist abridgement of the people's right to democracy--it's all the same, really.

      %p.big Members
      %p.text
        %ul
          %li Michael Nestler BR '14
          %li Rachel Rudinger DC '13
          %li Samer Sabri SY '13
          %li Daniel Tahara BR '14
          %li Aayush Upadhyay BR '14
      %p.text Our primary task is to make sure the Zoo is a happy and functional place. In addition to making sure that the machines in the Zoo are functioning properly and that you don't have any problems using the Zoo facility, we are also involved in the CS Department. Feel free to come to us with any concerns or questions that you might have as a CS major.
      %p.text 
        More about DSAC on 
        %a{:href=>"javascript:alert('Coming soon!');", :target=>"_blank"} our webpage!



