.footer
  .container
    .contain
      %p 
        Website design by 
        %a{:href=>"http://rafikhan.me", :target => "_blank "} Rafi Khan
        , Pierson College and Computer Science B.S. Class of 2015. The site was started during the "mini-hackathon" February 2, 2013 using the Sinatra Ruby framework, Sass CSS and Coffeescript. Find the code 
        %a{:href=>"https://github.com/rafi-khan/zoo", :target => "_blank "} on Github
        \.
