.panel{:name=>"info"}
  .container
    .contain
      %p.header About the Zoo
      %p.text
        The Zoo is located on the third floor of Arthur K. Watson Hall (AKW) at
        %b 51 Prospect Street
      .zoo-desc
        %img.zoo-map{:src => "/images/map.png"}
      %p.text
        There's a Closed Zoo (a quiet work space) and an Open Zoo (a collaborative space). Both are open 24-7, so those with card access can get in whenever they want. To gain access you'll need a Zoo account; you can easily request one
        %a{:href=>"https://ivy.yale.edu/zookeeper/", :target=> "_blank"} here
        \. Now you're good to go, but make sure you follow Zoo etiquette!
      %p.big The official Zoo policy is as follows:
      %ul
        %li Do not log into more than one workstation at once.
        %li You may lock a console for up to one hour if the Zoo is busy, or up to two hours if it is not busy.
        %li Food and drink are prohibited in the Zoo.
        %li Do not power-cycle the machines; i.e., do not touch the power button.
      %p.big Eating and Drinking
      %p.text Please do not feed the animals. In order to protect the machines, food and drink are prohibited in the Zoo. You can, however, bring snacks and eat them in the luxurious atrium area on the second floor, right downstairs from the Zoo. There is even a fridge available down there, but beware the grad students who are known to nosh many an errant snack!
      %p.text It is against the rules to smoke in Watson!
      %p.big Talking
      %p.text The Zoo is a collaborative environment, but please be mindful others who are not collaborating with you. There is no talking in the Closed Zoo!
      %p.big Printing
      %p.text The Zoo printers are for class and not personal use. Do not print huge documents during peak hours. Wait until no one is around.
      %p.big Hacking
      %p.text
        Ahh, hacking. There are two definitions for this word. The first, and traditional one, entails staying up all night and writing cool code to distribute freely over the net (or to hand in to a professor). We heartily encourage that. The other, a product of the uninformed media, means intentionally bypassing security systems and/or maliciously damaging data. We don't like those types of hackers. If you feel tempted to look for passwords or write viruses or violate Yale's computer security policy in any way, keep in mind that it is illegal, unconstitutional, unethical; that it shows how immature you are; and that it will probably get you prosecuted and/or kicked out of Yale.


