%tr
  %td.js-nav{:target=> "info"}
    %i.info
    Info
  %td.js-nav{:target=> "ssh"}
    %i.access
    SSH
  %td.js-nav{:target=> "tricks"}
    %i.tricks
    Tricks
  %td.js-nav{:target=> "dsac"}
    %i.classes
    DSAC
  -#
    %td.js-nav{:target=> "people"}
      %i.people
      People
  %td.js-nav{:target=> "faq"}
    %i.people
    FAQ
  %td.js-nav{:target=> "playground"}
    %i.playgrond
    Playground