-#
      .zoo-map.inline-block
        .map
          %img{:src => "/images/map.png"}
          %p.caption
            The Zoo is located at 
            %b 51 Prospect Street



    - animals = %w(viper hornet cricket newt termite python cicada bumblebee cobra frog tick turtle aphid ladybug chameleon rattlesnake scorpion perch gator grizzly cardinal giraffe swan rhino monkey lion hare tiger zebra hippo jaguar macaw peacock raven hawk woodpecker)
    - animals = animals.sort
    - animals.each do |a| 
      - puts a