i {
  display: inline-block;
  width: $font+2;
  height: $font+2;
  line-height: $font+2;
  vertical-align: top;
  background-repeat: no-repeat;
  background-size: contain;
}

i.info {
  background-image: url(/images/icons/info.png);
}

i.availability {
  background-image: url(/images/icons/availability.png);
}

i.ssh {
  background-image: url(/images/icons/ssh.png);
}

i.tips {
  background-image: url(/images/icons/tips.png);
}

i.dsac {
  background-image: url(/images/icons/dsac.png);
}

i.faq {
  background-image: url(/images/icons/faq.png);
}

/* Unused */

i.tricks {
  background-image: url(/images/icons/key.png);
}

i.playground {
  background-image: url(/images/icons/play.png);
}