i {
  display: inline-block;
  width: $font;
  height: $font;
  line-height: $font;
  vertical-align: text-top;
  background-repeat: no-repeat;
  background-size: contain;
}

i.info {
  background-image: url(/images/icons/info.png);
}

i.ssh {
  background-image: url(/images/icons/ssh.png);
}

i.tricks {
  background-image: url(/images/icons/key.png);
}

i.dsac {
  background-image: url(/images/icons/dsac.png);
}

i.faq {
  background-image: url(/images/icons/faq.png);
}

i.playground {
  background-image: url(/images/icons/play.png);
}