.zoo-top {
  height: 100%;
  > .container {
    position: relative;
  }
}
.main-text {
  margin-top: 15%;
}

.zoo-desc {
  margin-left: 5%;
  vertical-align: middle;
  text-align: justify;
}
$bar-height: 50px;
.zoo-main-bar {
  position: absolute;
  width: 800px;
  line-height: $bar-height;
  left: 0;
  bottom: -150px;
  // margin-top: 15%;
  table-layout: fixed;
  border: 1pt solid rgba(lighten($yale-blue, 30%), 0.5);
  text-align: center;
  color: #555;
  td {
    cursor: pointer;
    background-color: rgba(white, 0.3);
    height: $bar-height;
    &:hover {
      background-color: rgba(white, 0.9);
      color: black;
      @include transition(all 0.2s);
    }
  }
  i {
    vertical-align: -3px;
    margin-right: 4px;
  }
}
