.animal-table {
  table-layout: fixed;
  td {
    padding: 0 3wpx;
    max-width: 100px;
    min-width: 50px;
    background-color: rgba(green, 0.2);
    &.used {
      background-color: rgba(red, 0.2);
    }
    vertical-align: top;
  }
  img {
    width: 200px;
  }
  &.small {
    margin-left: 21%;
  }
  .caption {
    margin-top: 5px;
    text-align: right;
  }
}

.break {
  margin-top: 50px;
  height: 0;
}